MONGO_URI= 
PORT=8000
ROOT_URL = 'http://localhost:5173'

JWT_ACCESS_SECRET = 
JWT_REFRESH_SECRET =

// use this  comand in terminal to generate secure access and refresh token 
 node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
